*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 50px;
    background: linear-gradient(#2E335A, #1C1B33) fixed;
}

.main-heading{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 600;

}
.container{
    display: flex;
    gap: 20px;
    padding-left: 200px;
}
#searchIcon{
    color: #EBEBF5;
    padding: 5px;
}
.search-bar{
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    text-align: center;
    background: #2f2c50;
    box-shadow: 1px 2px 1.5px #1C1B33;
    display: flex;
    margin-left: 180px;
}
.search-bar > input{
    height: 35px;
    width: 400px;
    border: none;
    background-color: #2f2c50;
    outline: none;
    color: white;
}
.search-bar > input::placeholder{
    color: #EBEBF5;
    font-size: 14px;
    font-weight: 100;
}
#addCity{
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #4A397F;
    color: white;
    border: none;
    font-weight: 600;
}
#container1{
    /* border: 1px solid; */
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    height: 150px;
    width: 230px;
    padding: 10px;
    border-radius: 10% 100% 10% 10%;
    box-shadow: 1px 1px 4px rgba(217, 217, 214, 0.7);
    color: white;
    background-image: linear-gradient(to right, #5936B4 , #362A84);
}
.top{
    display: flex;
    gap: 50px;
}
img{
    height: 70px;
    width: 80px;
    padding: 0;
}
.top > .left{
    font-size: 50px;
}
.cloudpercent{
    font-size: 10px;
    color: #EBEBF5;
}
.weather{
    margin-left: 10px;
    font-size: 15px;
}

.bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.hmdty{
    font-size: 10px;
    color: #EBEBF5;
}
.bottom > .right{
    font-size: 12px;
    color: #EBEBF5;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .main-heading{
        padding: 28px;
        font-size: 32px;
        font-weight: 500;
    
    }
    .container{
        gap: 18px;
    }
    #searchIcon{
        padding: 4px;
    }
    .search-bar{
        margin-left: -100px;
    }
    .search-bar > input{
        height: 32px;
        width: 320px;
    }
    .search-bar > input::placeholder{
        font-size: 12px;
        font-weight: 100;
    }
    #addCity{
        height: 40px;
        width: 90px;
        border-radius: 4px;
        padding: 5px 12px;
        font-weight: 600;
        font-size: 12px;
    }
    #container1{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        height: 150px;
        width: 200px;
        padding: 8px;
    }
    .top{
        gap: 40px;
    }
    .top > .left{
        font-size: 40px;
    }
    .cloudpercent{
        font-size: 8px;
    }
    .weather{
        margin-left: 8px;
        font-size: 12px;
    }
    
    .bottom{
        font-size: 11px;
    }
    .hmdty{
        font-size: 8px;
    }
    .bottom > .right{
        font-size: 10px;
        font-weight: 300;
    }
}
@media screen and (max-width: 500px) {
    .main-heading{
        padding: 25px;
        font-size: 28px;
        font-weight: 400;
    }
    .container{ 
        gap: 15px;
    }
    .search-bar{
        margin-left: -200px;
    }
    .search-bar > input{
        height: 28px;
        width: 220px;
    }
    .search-bar > input::placeholder{
        font-size: 10px;
        font-weight: 100;
    }
    #addCity{
        height: 40px;
        width: 90px;
        border-radius: 4px;
        padding: 5px 12px;
        font-weight: 500;
        font-size: 10px;
    }
    #container1{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        height: 150px;
        width: 200px;
        padding: 8px;
    }
    .top{
        gap: 30px;
    }
    .top > .left{
        font-size: 35px;
    }
    .cloudpercent{
        font-size: 7px;
    }
    .weather{
        margin-left: 7px;
        font-size: 11px;
    }
    
    .bottom{
        font-size: 11px;
    }
    .hmdty{
        font-size: 8px;
    }
    .bottom > .right{
        font-size: 8px;
        font-weight: 300;
    }
}